<!DOCTYPE html>
<html lang="en">
  {% block head %}
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tidy</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/assets/css/form-elements.css">
        <link rel="stylesheet" href="static/assets/css/style.css">
        <link rel="stylesheet" href="static/assets/css/jquery.ui.min.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="static/assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="static/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="static/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="static/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed"
          href="static/assets/ico/apple-touch-icon-57-precomposed.png">

    </head>
    {% endblock %}

    <body>
        {% block header %}
          {% block navbar %}
                  <!--Navigation starts here-->

                   <nav class="navbar navbar-default navbar-inverse navbar-static-top no-margin no-padding" role="navigation">
                       <div class="container-fluid">
                          <div class="navbar-header">
                              <button type="button" class="navbar-toggle collapsed"
                              data-toggle="collapse" data-target="#bs-fortuneiyke-navbar-collapse-1"
                              aria-expanded="false">
                       <span class="sr-only">Toggle navigation</span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                     </button>
                               <a href="/" class="navbar-brand" id="my_logo">Tidy</a>
                           </div>

                           <div class="collapse navbar-collapse navbar-right" id="bs-fortuneiyke-navbar-collapse-1">
                               <ul class="nav navbar-nav">
                                   <li>
                                     <a href="#">
                                       Welcome
                                     </a>
                                   </li>
                                   <li class="dropdown">
                                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">
                                       <span class="glyphicon glyphicon-user"></span>User<span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu navbar-inverse dpdown">
                                      <li><a href="#">Logout</a></li>
                                    </ul>
                                   </li>
                               </ul>
                           </div>
                       </div>
                   </nav>

              <!--Navigation ends here-->
          {% endblock %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}

              <footer class="site-footer footer push">
                  <div class="container">
                     <div class="row footer-name">
                       <p>&copy; 2016 Tidy</p>
                     </div>
                  </div>
              </footer>

        {% endblock %}

        <!-- Javascript -->
        <script src="static/assets/js/jquery.min.js"></script>
        <script src="static/assets/js/jquery.ui.min.js"></script>
        <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="static/assets/js/jquery.backstretch.min.js"></script>
        <script src="static/assets/js/scripts.js"></script>

        <!--[if lt IE 10]>
            <script src="static/assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>
