{% extends 'base.html' %}
      {% block content %}
        <!-- Content -->
        <div class="top-content">

            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                        	<a class="logo" href="index.html"></a>
                            <h1><strong>Tidy</strong> lets do more</h1>
                            <div class="description">
                            	<p>
	                            	Accomplish more with tidy everyday on the list
                            	</p>
                            </div>
                            <div class="top-big-link">
                            	<a class="btn btn-link-1" href="/register">Register</a> OR
                            	<a class="btn btn-link-1" href="/login">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        {% endblock %}
